.navLinks {
    display: flex;
    justify-content: center;
}
.navLinks span:nth-child(2) {
    margin: 0 40px 0 40px;
}

.navigation {
    display: flex;
    justify-content: center;
    align-items: center;
}
.navHeader {
    text-align: center;
}